.nav {
  background-color: #222;
}
.nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 12px 25px;
  font-size: 20px;
  border-right: 1px solid rgba(245, 222, 179, 0.2);
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.budget {
  background-color: rgba(0, 128, 0, 0.1);
  padding: 10px;
}
